<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_ADD}index/phone/rem.css">
    <script src="{JS_ADD}index/phone/zepto.js"></script>
    <script src="{JS_ADD}index/phone/hammer.min.js"></script>
    <script src="{JS_ADD}index/phone/jquery-3.5.1.js"></script>
    <script src="{JS_ADD}index/phone/jQueryhammer.js"></script>
    <link rel="stylesheet" href="{CSS_ADD}index/phone/swiper-bundle.min.css">
    <link rel="stylesheet" href="{CSS_ADD}index/phone/boke.css">
</head>

<body>
    <!-- 顶部导航栏 -->
    <div class="top">
        <div class="top-logo">
            <a href="#" class="logo">
                <img src="https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cHM6Ly81ZDdhMDE2MGIwZTdkLnQ3NC5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDkvOTgwYmRmNGQxZDE1ZWRlMDFkZTU3ZTAzNWQzZTdhOGItOTAud2VicA_p_p100_p_3D_p_p100_p_3D.webp"
                    alt="" style="width:99px;height: 72px;">
            </a>
        </div>

        <div class="top-right">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </div>
    <!-- 主题 -->
    <div class="container">
        <div class="banner">
            <div class="title">
                NEW
            </div>
            <div class="imgs">
                <img src="https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cHM6Ly81ZDdhMDE2MGIwZTdkLnQ3NC5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDkvOGM5MTFmZDA2YTg4ZTk1NWE3ZDMwODZmMzg3Mzk1MTItOTAud2VicA_p_p100_p_3D_p_p100_p_3D.webp"
                    alt="">
            </div>
        </div>
        <div class="center">
          
            <div class="center-right">
                <div class="right-div">
        
                    <div class="right-imglist">
                        {$data}
<!--                        <div class="imglist-div">-->
<!--                            <img src="https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cDovLzVkN2EwMTYwYjBlN2QudDc0LnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wOS8wODk3NmY1NzhlY2I3YTBiOTBmMjJkNmVmY2RiYzM5OC02MHg2MC05MC53ZWJw.webp"-->
<!--                                alt="">-->
<!--                            <div class="img-text">-->
<!--                                <div class="img-text-title1">-->
<!--                                    啤酒对人的好处-->
<!--                                </div>-->
<!--                                <div class="img-text-title2">-->
<!--                                    发布日期：2019.09.09-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="imglist-div">-->
<!--                            <img src="https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cDovLzVkN2EwMTYwYjBlN2QudDc0LnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wOS8wODk3NmY1NzhlY2I3YTBiOTBmMjJkNmVmY2RiYzM5OC02MHg2MC05MC53ZWJw.webp"-->
<!--                                alt="">-->
<!--                            <div class="img-text">-->
<!--                                <div class="img-text-title1">-->
<!--                                    啤酒对人的好处-->
<!--                                </div>-->
<!--                                <div class="img-text-title2">-->
<!--                                    发布日期：2019.09.09-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="imglist-div">-->
<!--                            <img src="https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cDovLzVkN2EwMTYwYjBlN2QudDc0LnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wOS8wODk3NmY1NzhlY2I3YTBiOTBmMjJkNmVmY2RiYzM5OC02MHg2MC05MC53ZWJw.webp"-->
<!--                                alt="">-->
<!--                            <div class="img-text">-->
<!--                                <div class="img-text-title1">-->
<!--                                    啤酒对人的好处-->
<!--                                </div>-->
<!--                                <div class="img-text-title2">-->
<!--                                    发布日期：2019.09.09-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="imglist-div">-->
<!--                            <img src="https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cDovLzVkN2EwMTYwYjBlN2QudDc0LnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wOS8wODk3NmY1NzhlY2I3YTBiOTBmMjJkNmVmY2RiYzM5OC02MHg2MC05MC53ZWJw.webp"-->
<!--                                alt="">-->
<!--                            <div class="img-text">-->
<!--                                <div class="img-text-title1">-->
<!--                                    啤酒对人的好处-->
<!--                                </div>-->
<!--                                <div class="img-text-title2">-->
<!--                                    发布日期：2019.09.09-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="imglist-div">-->
<!--                            <img src="https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cDovLzVkN2EwMTYwYjBlN2QudDc0LnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wOS8wODk3NmY1NzhlY2I3YTBiOTBmMjJkNmVmY2RiYzM5OC02MHg2MC05MC53ZWJw.webp"-->
<!--                                alt="">-->
<!--                            <div class="img-text">-->
<!--                                <div class="img-text-title1">-->
<!--                                    啤酒对人的好处-->
<!--                                </div>-->
<!--                                <div class="img-text-title2">-->
<!--                                    发布日期：2019.09.09-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="imglist-div">-->
<!--                            <img src="https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cDovLzVkN2EwMTYwYjBlN2QudDc0LnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wOS8wODk3NmY1NzhlY2I3YTBiOTBmMjJkNmVmY2RiYzM5OC02MHg2MC05MC53ZWJw.webp"-->
<!--                                alt="">-->
<!--                            <div class="img-text">-->
<!--                                <div class="img-text-title1">-->
<!--                                    啤酒对人的好处-->
<!--                                </div>-->
<!--                                <div class="img-text-title2">-->
<!--                                    发布日期：2019.09.09-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 底部 -->
    

    <div class="foot">
        <div class="foot-content">

            @ 2019 酒业官网 All Rights reserved
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="navigationWeb">
        <div class="close">X</div>
        <div class="contentnav">
            <div class="list2">
                <a href="/server/8.15/mvc/index.php/admin/phone/int">网站首页
                    &nbsp-
                    &nbsp
                    <div class="English1">
                        HOME
                    </div>
                </a>
            </div>
            <div class="list2">
                <a href="/server/8.15/mvc/index.php/admin/phone/product">品牌介绍
                    &nbsp-
                    &nbsp
                    <div class="English1">
                        ABOUT US
                    </div>
                </a>
            </div>
            <div class="list2">
                <a href="/server/8.15/mvc/index.php/admin/phone/center">产品中心
                    &nbsp-
                    &nbsp
                    <div class="English1">
                        PRODUCT
                    </div>
                </a>
            </div>
            <div class="list1">
                <a href="#">博客资讯
                    &nbsp-
                    &nbsp
                    <div class="English">
                        NEW
                    </div>
                </a>
            </div>
            <div class="list2">
                <a href="/server/8.15/mvc/index.php/admin/phone/us">联系我们
                    &nbsp-
                    &nbsp
                    <div class="English1">
                        CONTACT US
                    </div>
                </a>
            </div>
        </div>
    </div>
  
    <script src="{JS_ADD}index/phone/boke.js"></script>
</body>

</html>