<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_ADD}bootstrap.css">
    <link rel="stylesheet" href="{CSS_ADD}admin/addjiu.css">
    <script src="{JS_ADD}jquery-3.5.1.min.js"></script>
    <script src="{JS_ADD}jquery.validate.min.js"></script>
    <script src="{JS_ADD}admin/upload.js"></script>
    <script src="{JS_ADD}admin/addjiu.js"></script>
</head>
<body>
<div class="container ba">
    <div class="pannel editpannel">
        <form action="/server/8.15/mvc/index.php/admin/category/jiuadd" method="post" class="addjiu">

            <div class="form-group">
                <label for="jname"> 酒的名字</label>
                <input type="text" name="jname" id="jname" class="form-control">
            </div>
            <div class="form-group">
                <label for="jimg" >酒的图片("请选择一张图片")</label>
                <div id="imgsrc">
                    <input type="hidden" class="imgsrc" name="imgsrc"  id="jimg">
                </div>
            </div>
            <div class="form-group">
                <label for="jcons">酒的详情</label>
                <textarea class="form-control" rows="3" name="jcons" id="jcons"></textarea>
            </div>
            <div class="form-group">
                <label for="jval" >酒的含量("请选择四张图片")</label>
                <div class="jval1">
                    <input type="hidden" class="jval" name="jval" id="jval">
                </div>
            </div>
            <input type="submit" value="添加" class="btn btn-info">
        </form>


    </div>
</div>
</body>
</html>