<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_ADD}bootstrap.css">
    <link rel="stylesheet" href="{CSS_ADD}admin/editjiu.css">
    <script src="{JS_ADD}jquery-3.5.1.min.js"></script>
    <script src="{JS_ADD}admin/upload.js"></script>
    <script src="{JS_ADD}admin/editjiu.js"></script>

</head>
<body>
<div class="container ba">
<div class="pannel editpannel">
    <form action="/server/8.15/mvc/index.php/admin/category/editjiu" method="post">
        <input type="hidden" name="jid" value='{$data["jid"]}' class="jid">
        <div class="form-group">
            <label for="jname"> 酒的名字</label>
            <input type="text" name="jname" id="jname" value='{$data["jname"]}' class="form-control">
        </div>
        <div class="form-group">

            <label for="jimg" >酒的图片("请选择一张图片")</label>
            <img src='{$data["jimg"]}' alt="" id="jimg" name="jimg">
            <div id="imgsrc">
                <input type="hidden" class="imgsrc" name="imgsrc" value='{$data["jimg"]}'>
            </div>
        </div>
        <div class="form-group">
            <label for="jcons">酒的详情</label>
            <textarea class="form-control" rows="3" name="jcons" id="jcons">{$data["jcons"]}</textarea>
        </div>
        <div class="form-group">
            <label>酒的含量("请选择四张图片")</label>
    {foreach $jval as $k}
    <img src='{$k}' alt="" class="jvals">
    {/foreach}


    <div class="jval1">
        <input type="hidden" class="jval" name="jval" value='{$data["jval"]}'>
    </div>
</div>
    <input type="submit" value="修改" class="btn btn-info">
    </form>


</div>
</div>

<div class="fixdiv" style="width:500px;height: 200px;position: absolute;left: 0;bottom: 0;right: 0;top:0;margin: auto">

</div>





</body>
</html>