<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_ADD}bootstrap.css">
    <link rel="stylesheet" href="{CSS_ADD}admin/jiu.css">
    <script src="{JS_ADD}jquery-3.5.1.min.js"></script>
    <script src="{JS_ADD}admin/jiu.js"></script>
    <script src="{JS_ADD}admin/upload.js"></script>
</head>
<body>
<div class="box">
    <h1>酒</h1>
    <form action="/server/8.15/mvc/index.php/admin/jiu/addjiu" method="post">

        <input type="submit" value="添加酒" class="btn btn-info add">

    </form>
    {if $data}
    <table class="table table-bordered" style='table-layout:fixed;'>
        <thead>
        <tr>
            <td  style='width:16.7%;'>酒的id</td>
            <td  style='width:16.7%;'>酒的名字</td>
            <td  style='width:16.7%;'>酒的图片</td>
            <td  style='width:16.7%;'>酒的详情</td>
            <td style='width: 16.7%;'>酒的价格</td>
            <td style="width: 16.7%;">操作</td>
        </tr>
        </thead>
        {$data}
    </table>
    {else}
    <table>
        <tr>
            <td>没有数据</td>
        </tr>
    </table>

    {/if}





</div>
</body>
</html>