*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}


.top{
    position: fixed;
    top:0;
    width: 100%;
    padding: 0 40px;
    height: 99px;
    box-sizing:border-box;
    z-index: 100;
}
.top-logo{
    float: left;
    width: 99px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0px;
    box-sizing: border-box;
}
.top-right{
    position: relative;
    float: right;
    color: #dedede;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    transition: all 0.3s cubic-bezier(0.215,0.61,0.355,1) 0s;
    z-index: 1000;
    cursor: pointer;
}
.one{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    position: absolute;
    top: 28px;
    left: 15px;
    transition: all 0.3s ease-out 0s;
   
}
.two{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    position: absolute;
    top: 18px;
    left: 15px;
    transition: all 0.3s ease-out 0s;
}
.container{
    width: 100%;
    position: relative;

    background: url(https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cHM6Ly81ZDdhMDE2MGIwZTdkLnQ3NC5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDkvYTc4YWM0NGQ3ZTBlMGFmOTgzMDVjMzk3YWMyOWE1YmItOTAud2VicA_p_p100_p_3D_p_p100_p_3D.webp);
}
.banner{
    background: url(https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cHM6Ly81ZDdhMDE2MGIwZTdkLnQ3NC5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDkvNmNhZTg3MmM5NzIyNWMyN2M4Mjk5YjEyMjZkYWQxMDEtOTAud2VicA_p_p100_p_3D_p_p100_p_3D.webp) center center no-repeat;
    height: 480px;
    background-size: cover;
   
}
.title{
    font-size: 70px;
    color: white;
    text-align: center;
    position: relative;
    top: 45%;
    margin-bottom: 10px;
}
.imgs{
    text-align: center;
    width: 100%;
    height: 10px;
    position: relative;
    top: 45%;
}
.content{
    width: 100%;
    height: 1300px;
    padding: 50px 90px;
    box-sizing: border-box;
}
.content-container{
    width: 100%;
    height: 100%;
    
}
.imglist{
    width: 100%;
    height: 90%;

}
.btnlist{
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 30px 600px;
    box-sizing: border-box;

}
.imglist-div{
    width: 33.333333%;
    height: 50%;
    float: left;
    text-align: center;
}
.imglist-div img{
    width: 395px;
    height: 395px;
    margin-bottom: 20px;
}
.imglist-title1{
    font-size: 20px;
    margin-bottom: 20px;
}
.imglist-title2{
    font-size: 13px;
}


.btn1{
  
    width: 54px;
    height: 35px;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
    float: left;
    background: black;
    color: white;
    cursor: pointer;
}

.btn2{
    width: 54px;
    height: 35px;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}



.navigationWeb{
    width: 400px;
    left: auto;
    background-color: black;
    right: -400px;
    position: fixed;
    z-index: 9999;
    height: 100%;
    transition: transform 0.4s cubic-bezier(0.215,0.61,0.355,1) 0s;
    top: 0;
}
.close{
    font-size: 22px;
    color: white;
    padding-top: 20px;
    margin-left: 360px;
    cursor: pointer;
}
.contentnav{
    position: relative;
    top: 20%;
    height: 100%;
    box-sizing: border-box;
  
}

.list1{
    height: 64px;
    line-height: 64px;
    text-align: left;
    padding: 0 100px 0!important;
    width: 100%;
    box-sizing: border-box;
}
.list1 a{
    color: #01935e;
    text-align: left!important;
    padding: 0!important;
    display: inline-block!important;
    vertical-align: middle;
    text-decoration: none;
    font: 18px / 26px 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
}
.English{
    font-size: 11px;
    color: #01935e;
    display: inline-block;
}
.list2{
    height: 64px;
    line-height: 64px;
    text-align: left;
    padding: 0 100px 0!important;
    width: 100%;
    box-sizing: border-box;
}
.list2 a{
    color: white;
    text-align: left!important;
    padding: 0!important;
    display: inline-block!important;
    vertical-align: middle;
    text-decoration: none;
    font: 18px / 26px 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
}
.English1{
    font-size: 11px;
    display: inline-block;
}
.list2 a:hover{
    color: #01935e;
}
.bottom{
    width: 100%;
    height: 433px;
    background: #1b1b1b;
    padding: 50px 70px;
    box-sizing: border-box;
}
.bottom-center{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
 
}
.bc1{
    float: left;
    width: 25%;
    padding: 90px 40px;
    color: rgb(119,119,119);
    font-size: 13px;
    line-height: 26px;
    letter-spacing: inherit;
    box-sizing: border-box;
}
.bc2{
    float: left;
    width: 19%;
    height: 100%;
    padding: 30px 40px;
}
.bc2-title{
    
    font-size: 24px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}
.bc-list{
    margin-bottom: 15px;
}
.bc-list span{
    vertical-align: top;
    color: rgb(119,119,119);
}
.bc2 ul{
    display: flex;
    flex-direction: row;
}
.bc2 ul li{
    list-style: none;
    width: 16px;
    height: 16px;
    margin-right: 16px;
}
.email{
    width: 295px;
    height: 38px;
    border: 1px solid rgb(119,119,119);
    box-sizing: border-box;
    background-color: #1b1b1b;
    color: rgb(119,119,119);
    margin-bottom: 20px;
}
.text{
    width: 295px;
    height: 79px;
    border: 1px solid rgb(119,119,119);
    box-sizing: border-box;
    background-color: #1b1b1b;
    color: rgb(119,119,119);
}
.btn{
    width: 295px;
    height: 38px;
    box-sizing: border-box;
    background-color: rgb(119,119,119);
    color: white;
    margin-bottom: 20px;
}
.title-list{
    width: 295px;
    height: 196px;

}
.title-list img{
    width: 88px;
    height: 83px;
    margin-right: 10px;
    float: left;
}
.foot{
    width: 100%;
    height: 78px;
    background: black;
    padding: 30px 60px;
    color:rgb(119,119,119);
    box-sizing: border-box;
}
.foot-content{
    text-align: center;
}
.imglist-div-a{
    color: black;
    text-decoration: none;
}
.imglist-div-a:hover{
    color: #01935e;
    width: 100%;
    height: 100%;
}