*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

body{
   
    overflow-y: visible;
    

}
body::-webkit-scrollbar{
    display: none;
}
.top{
    position: fixed;
    top:0;
    width: 100%;
    padding: 0 40px;
    height: 99px;
    box-sizing:border-box;
    z-index: 100;
}
.top-logo{
    float: left;
    width: 99px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0px;
    box-sizing: border-box;
}
.top-right{
    position: relative;
    float: right;
    color: #dedede;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    transition: all 0.3s cubic-bezier(0.215,0.61,0.355,1) 0s;
    z-index: 1000;
    cursor: pointer;
}
.one{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    position: absolute;
    top: 28px;
    left: 15px;
    transition: all 0.3s ease-out 0s;
   
}
.two{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    position: absolute;
    top: 18px;
    left: 15px;
    transition: all 0.3s ease-out 0s;

}
.container{
    width: 100%;
    height: 100%;
    background: url(https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cHM6Ly81ZDdhMDE2MGIwZTdkLnQ3NC5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDkvMWMxMjY5ZDExMWM2YjAyYmYyOTRiMzc3NWYzMzAxOWYtOTAud2VicA_p_p100_p_3D_p_p100_p_3D.webp) center center no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;

    
}
.container-img{
    width: 100%;
    height: 100%;
    background: url(https://ccdn.goodq.top/caches/b2722f2617dd98e9cdb285b51047a21d/aHR0cHM6Ly81ZDdhMDE2MGIwZTdkLnQ3NC5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDkvMjAwMTVjYTVhNWY0Yzk2YzcwYWNhMzJlNDAwYzZiZDgtOTAud2VicA_p_p100_p_3D_p_p100_p_3D.webp) center center no-repeat;
    background-size: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    
}
.container-left{
    float: left;
    width: 40%;
    height: 180px;
    /* background: violet; */
    position: relative;
    top: 38%;
    
}
.container-left-content{
    margin-right: 46px;
    transition: all 1s ease-out;
    overflow: hidden;
    box-sizing: border-box;
}
.container-center{
    float: left;
    width: 20%;
    margin-top: 70px;    
    text-align: center;
    z-index: 10;
    position: relative;
    transition: all 2s ease-out;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 73px;
    box-sizing: border-box;
}
.container-center img{
  margin-top: 60px;
  opacity: 0;
  width: 100%;
  height: auto;
  transition: all 2s ease-out;
}
.container-right{
    float: left;
    width: 40%;
    height: 180px;
    position: relative;
    top: 38%;
    padding-left: 46px;
    box-sizing: border-box;
    
}
.title{
   width: 100%;
   opacity: 0;
   padding-right: 60px;
   box-sizing: border-box;
    
}
.title span{ 
    float: right;
    font-size: 32px;
    color: white;
    padding-bottom: 10px;
}
.title::after{
    content: '';
    display: block;
    clear: both;
}
.title-img{
    float: right;
    padding-bottom: 30px;
}
.content-title{
    float: right;
    width: 360px;
    text-align: right;
    line-height: 30px;
    font-size: 15px;
    color: white;
}
.container-rihght-img{
    height: 56px;
    padding-bottom: 15px;
    padding-left: 60px;
    box-sizing: border-box;
    opacity: 0;
}
.container-right-img img{
    width: 117px;
    height: 41px;
}
.navigation{
    padding: 0 10px 0 0;
    display: block;
    position: fixed;
    top: 50%;
    transform: translateZ(0px);
    transition: opacity 0.3s linear 0s;
    z-index: 200;
    margin-top: -45px;
    right: 25px;
}
.navigation ul{
    list-style: none;
}
.navigation li{
    cursor: pointer;
    margin: 0;
    padding: 10px 0 10px 15px;
    height: 20px;
    width: 20px;
    text-align: center;
}
.navigation a{
    border-radius: 50%;
    display: inline-block;
    height: 3px;
    text-decoration: none;
    width: 3px;
    border-width: 0px;
    transition: all ease .3s;
    border-style: solid;
    Opacity: 0.5;
    background: transparent;
    border: 1px solid #f6f6f6;
}
.navigationWeb{
    width: 400px;
    left: auto;
    background-color: black;
    right: -400px;
    position: fixed;
    z-index: 9999;
    height: 100%;
    transition: transform 0.4s cubic-bezier(0.215,0.61,0.355,1) 0s;
    top: 0;
}
.close{
    font-size: 22px;
    color: white;
    padding-top: 20px;
    margin-left: 360px;
    cursor: pointer;
}
.contentnav{
    position: relative;
    top: 20%;
    height: 100%;
    box-sizing: border-box;
  
}

.list1{
    height: 64px;
    line-height: 64px;
    text-align: left;
    padding: 0 100px 0!important;
    width: 100%;
    box-sizing: border-box;
}
.list1 a{
    color: #01935e;
    text-align: left!important;
    padding: 0!important;
    display: inline-block!important;
    vertical-align: middle;
    text-decoration: none;
    font: 18px / 26px 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
}
.English{
    font-size: 11px;
    color: #01935e;
    display: inline-block;
}
.list2{
    height: 64px;
    line-height: 64px;
    text-align: left;
    padding: 0 100px 0!important;
    width: 100%;
    box-sizing: border-box;
}
.list2 a{
    color: white;
    text-align: left!important;
    padding: 0!important;
    display: inline-block!important;
    vertical-align: middle;
    text-decoration: none;
    font: 18px / 26px 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
}
.English1{
    font-size: 11px;
    display: inline-block;
}
.list2 a:hover{
    color: #01935e;
}