body{
    background: rgb(244,249,254);
    height: 100%;
}
.box{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
}
.table-bordered{
    background: white;
}
.cl{
    width: 300px;
    display: inline-block;
    margin-bottom: 20px;
}
.pannel{
    width: 400px;

    box-shadow: 0 0 4px #000;
    background: white;
    position: absolute;
    left: 0px;
    top: 30px;
    right: 0;
    margin: auto;
    z-index: 1;
    display: none;
    text-align: center;
}
table tbody tr td{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

}
table{
    margin-top: 10px;
}
